{{#if this.length}}
  {{!-- allow overrides via partial args: title, wrapper, itemClass --}}
  {{#with (or title (get-attr @root.page 'cards-title' 'Manuals')) as |cardsTitle|}}
    <h2>{{cardsTitle}}</h2>
  {{/with}}
  {{#with (or wrapper 'manuals') as |wrapperClass|}}
    {{#with (or itemClass 'manual') as |itemClass|}}
      <div class="{{wrapperClass}}">
        {{#each this}}
          <div class="{{itemClass}}">{{> page-card this}}</div>
        {{/each}}
      </div>
    {{/with}}
  {{/with}}
{{else}}
  <p>{{get-attr @root.page 'empty-text' 'No items found in this scope.'}}</p>
{{/if}}